<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CasePaths.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Clocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Collections.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>ComposableArchitecture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ConcurrencyExtras.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>CustomDump.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Dependencies.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>DependenciesMacros.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>DequeModule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>IdentifiedCollections.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>OrderedCollections.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>SwiftUINavigation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>SwiftUINavigationCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>_CasePaths.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>_Clocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>_Collections.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>_ComposableArchitecture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>_ConcurrencyExtras.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>_CustomDump.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>_Dependencies.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>_DependenciesMacros.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>_DequeModule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>_IdentifiedCollections.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>_OrderedCollections.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>_SwiftUINavigation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>_SwiftUINavigationCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>_XCTestDynamicOverlay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>swift-composable-architecture-suite-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CasePaths</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Clocks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Collections</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ComposableArchitecture</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ConcurrencyExtras</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CustomDump</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Dependencies</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DependenciesMacros</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DequeModule</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IdentifiedCollections</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OrderedCollections</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftUINavigation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftUINavigationCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_CasePaths</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_Clocks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_Collections</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_ComposableArchitecture</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_ConcurrencyExtras</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_CustomDump</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_Dependencies</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_DependenciesMacros</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_DequeModule</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_IdentifiedCollections</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_OrderedCollections</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_SwiftUINavigation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_SwiftUINavigationCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>_XCTestDynamicOverlay</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>swift-composable-architecture-suite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
